# .github/workflows/deploy-s3.yml
name: Despliegue de la Web a AWS S3

on:
  push:
    branches:
      - dev 
  workflow_dispatch: 
  
jobs:
  pruebas-y-subida: 
    runs-on: ubuntu-latest 
    steps:
      - name: 1. Bajar mi proyecto
        uses: actions/checkout@v5.0.0
      
      - name: 2. Poner Node.js
        uses: actions/setup-node@v6.0.0
      
      - name: 3. Instalar las dependencias (Mocha, Chai, JSDoc)
        run: npm install
      
      # --- INTEGRACIÓN CONTINUA (CI): Chequeos de calidad ---
      
      - name: 4. Forzar permisos de Ejecución
        run: |
          # Forzar permisos para el binario de Mocha
          chmod +x ./node_modules/.bin/mocha
          # Forzar permisos para el binario de JSDoc
          chmod +x ./node_modules/.bin/jsdoc
      
      - name: 4.1 Ejecutar las pruebas 
        run: npx mocha test/pruebas.test.js

      - name: 5. Generar la documentacion de mi JS
        run: npx jsdoc src/js/index.js -d docs

      # --- DESPLIEGUE CONTINUO (CD): La Subida a S3 ---
      
      # 6. Configurar las credenciales de AWS (¡Método oficial para el token!)
      - name: 6. Configurar Credenciales de AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }}
          aws-region: ${{ secrets.AWS_REGION }}

      # 7. Subir los archivos finales a mi bucket de AWS S3 (Usando AWS CLI nativa)
      - name: 7.1 Sincronizando src al bucket
        run: aws s3 sync ./src s3://${{ secrets.S3_BUCKET_NAME }} --delete
      
      - name: 7.2 Sincronizando docs al bucket
        run: |
          echo "Sincronizando la documentación DOCS a la carpeta /docs del bucket..."
          aws s3 sync ./docs s3://${{ secrets.S3_BUCKET_NAME }}/docs --delete
